{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<h1>{{deal.deal_title}}</h1>
<p>{{ deal.price }}</p>
<p>{{deal.deal_content | safe}}</p>
<p>{{ deal.deal_date }}</p>


<!-- 입금된 것을 확인하고 예술가가 결제 상태 변경 -->
{% if deal.status == "ready" %}
<p>미결제</p>
{% elif deal.status == "paid" %}
<p>결제 완료</p>
{% endif %}
<hr>

<!-- 본인 포트폴리오만 수정, 삭제 띄움 -->
{% if deal.u_id == user %}
<a href="{% url 'dealedit' deal.id %}"> 수정</a>
<a href="{% url 'dealdelete' deal.id %}"> 삭제</a>
{% else %}
<a href="{% url 'kakaoPay' deal.id %}"> 결제</a>
{% endif %}
{% endblock %}