<!-- 마이페이지 -->
{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<i class="fas fa-comments"></i>
<a href="{% url 'chat' %}" class="btn btn-primary">채팅하기</a>
<hr>

<!-- 프로필 이미지가 있으면 해당 이미지를 띄우고 없으면 기본이미지 띄움 -->
{% if user.profile.profile_image %}
    <img src="{{ user.profile.profile_image.url }}" width="200px" hegiht="200px">
{% else %}
    <img src="{% static 'portfolio/img/기본프로필.jpg' %}" width="200px" hegiht="200px">
{% endif %}
<!-- 프로필 정보란 -->
<h1>{{ user.nickname }}님의 게시물</h1>
<h2>이메일: {{ user.profile.email }}</h2>
<h2>연락처: {{ user.profile.phone_number }}</h2>
<h2>자기소개: {{ user.profile.introduce }}</h2>


<!-- 거래글 -->
<h3>거래글</h3>
<div class="mypf">
    {% for b in business %}
    <!-- 포트폴리오의 user_id와 현재 로그인 유저가 동일한 것만 보여줌 -->
    {% if b.u_id == user %}
    <div class="pf" style="border: 1px solid black;">
            <a href="{% url 'dealdetail' b.id %}">{{b.deal_title}}</a>
            <p>{{ b.price }}원</p>
        {% endif %}
    </div>
</div>
{% endfor %}


<!-- 포트폴리오 -->
<h3>포트폴리오</h3>
<div class="mypf">
    {% for p in portfolios %}
    {% if p.user_id == user %}
    <div class="pf" style="border: 1px solid black;">
            <a href="{% url 'pfdetail' p.id %}">{{p.pf_title}}</a>
            <br>
            {% if p.pf_attach %}
            <img src="{{ p.pf_attach.url }}" width="250" height="250" alt="포트폴리오 썸네일">
            {% else %}
            <img src="{% static 'portfolio/img/이미지없음.jpg' %}" width="200px" hegiht="200px">
            {% endif %}
            {{ p.pf_date }}
        {% endif %}
    </div>
</div>
    {% endfor %}
{% endblock %}