{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'average/css/fieldchoose.css' %}">
    <script>
        /* Demo purposes only */
        $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
        );
    </script>
</head>
<body>
    <div class="figure" style="display: flex; justify-content: center;">
        <figure class="snip1432">
            <img class="img" src="/static/average/img/design.png" alt="디자인"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>디자인</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 1 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/IT.png" alt="IT"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>IT개발</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 2 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/video.png" alt="영상"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>영상</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 3 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/picture.png" alt="사진"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>사진</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 4 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/music.png" alt="음향"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>음향</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 5 %}"></a>
        </figure>
    </div>
    <br>
    <br>
    <div class = "figure" style="display: flex; justify-content: center;">
        <figure class="snip1432">
            <img class="img" src="/static/average/img/directing.png" alt="기획"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>기획</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 6 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/translation.png" alt="번역"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>번역</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 7 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/writing.png" alt="작문"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>작문</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 8 %}"></a>
        </figure>

        <figure class="snip1432">
            <img class="img" src="/static/average/img/marketing.png" alt="마케팅"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>마케팅</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 9 %}"></a>
        </figure>
        <figure class="snip1432">
            <img class="img" src="/static/average/img/etc.png" alt="기타"/>
            <figcaption>
            <div>
                <h3>평균가</h3>
                <h3>지금 확인하기</h3>
            </div>
            <div>
                <h2>기타</h2>
            </div>
            </figcaption>
            <a href="{% url 'average' 10 %}"></a>
        </figure>
    </div>
</body>
</html>

{% endblock %}