{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
     <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css' %}">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

</head>
<body>
 <!-- Swiper(배너) -->
 <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="http://www.knps.or.kr/front/portal/open/pnewsDtl.do?menuNo=7020013&pnewsId=PNEWSM019425">
          <img src="/static/user/img/영상공모전.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.digitalcitizen.kr/front/content/contentViewer.do?contentId=creativeCnts">
          <img src="/static/user/img/창작공모전.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.nts.go.kr/nts/na/ntt/selectNttInfo.do?mi=2207&bbsId=1011&nttSn=1297153#">
          <img src="/static/user/img/청렴공모전.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://blog.naver.com/dibrary1004/222438341358">
          <img src="/static/user/img/캐릭터공모전.png">
        </a>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

<br>
<br>
<hr>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      포트폴리오 확인
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      {%for f in fields %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'pfshow' f.id %}">{{ f }}</a></li>
      {% endfor %}
    </ul>
  </div>
  

<div class="container">
    <div class="main-content">
        {% for p in portfolios %}
        <article class="component">
            <div class="description">
              {% if p.pf_attach %}
                <img src="{{ p.pf_attach.url }}" width="250" height="250" alt="포트폴리오 썸네일">
              {% else %}
                <img src="{% static 'portfolio/img/이미지없음.jpg' %}" width="200px" hegiht="200px">
              {% endif %}<br>
              <h3 style="height: 7px;">{{p.pf_title}}</h3>
              <a  href="{% url 'pfdetail' p.id %}" class="button">MORE</a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}