{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/signin.css' %}">
    
    <form action="{% url 'signin' %}" method="POST" class="loginForm">
        {% csrf_token %}
        <h2>Login</h2>
        <table>
            {{ form.as_table }}
        </table>
<br>
        <input type="submit" class="btn" value="LOG IN">

        <div class="buttomText">
            회원이 아니신가요? <a href="{% url 'signup' %}">회원가입하기</a>
        </div>
    </form>
</body>
{% endblock %}